h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

section {
    @include flex-y(center, center);
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    color: var(--black);
    overflow: hidden;

    .section-sub-title {
        width: 100%;

        h3 {
            text-align: left;
            color: var(--black);
        }
    }
}
