h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.vt__tabber {
    *:focus {
        outline: 5px solid rgba(var(--primary-rgb), 0.7);
    }

    #nav-links *:focus,
    #home-link:focus {
        outline: 5px solid rgba(var(--white-rgb), 0.7);
    }

    transition: outline 0s !important;
}

.code {
    $code-colors: 'bg', 'purple', 'blue', 'string', 'yellow', 'navy', 'green', 'tag', 'method',
        'const', 'num', 'css';

    @each $color in $code-colors {
        &-#{$color} {
            color: var(--code-#{$color});
        }
    }
}

.section-sub-title {
    width: fit-content;
    margin: 30px auto 0;
    color: var(--black);
    border-bottom: 3px solid var(--primary);
}

::selection {
    background: var(--primary);
    color: var(--white);
}
