h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.code {
    $code-colors: 'bg', 'purple', 'blue', 'string', 'yellow', 'navy', 'green', 'tag', 'method',
        'const', 'num';

    @each $color in $code-colors {
        &-#{$color} {
            color: var(--code-#{$color});
        }
    }
}

::selection {
    background: var(--primary);
    color: var(--white);
}
