@import 'mixins';
@import 'utilities';

:root {
    --primary: #5aafff;
    --white: #fff;
    --grey: #5a5f66;
    --black: #3a3c42;
    --code-bg: #1e1e1e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--grey);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--white);
}
