@media only screen and (max-width: $bp-lg) {
    #app {
        #component-container #component-view {
            max-width: 750px;
            min-height: 550px;
            flex-direction: column-reverse;
        }
        .component-playground {
            display: flex;
            flex-direction: column-reverse;
            flex: unset;
        }
        .options-container {
            margin: 10px 0;

            .options {
                padding: 10px 0;
            }
        }
        .example-container {
            display: unset;
            width: 100%;

            .example {
                min-height: 200px;
                margin: 30px 0;
            }
        }
        .swap-hide {
            display: grid;
            gap: 15px;
        }
        .copy-code {
            padding: 40px 10px;

            i {
                display: none;
            }
        }
        .mobile-nav-right {
            width: calc(100% - 200px);
            align-self: flex-start;
        }
        .mobile-nav-left {
            width: calc(100% - 200px);
            align-self: flex-end;
        }
        .add-tags code {
            display: block;
            margin-bottom: 15px;
        }
    }
}
@media only screen and (max-width: $bp-sm) {
    #app {
        .options {
            .emit-overflow {
                max-width: 52vw;
            }
            .prop-overflow {
                max-width: 70vw;
            }
            .method-sm {
                color: var(--code-blue);
            }
            .hide-sm {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: $bp-xs) {
    #app {
        #component-container #component-view {
            border: none;
            box-shadow: none;
        }
        .component-playground {
            padding: 0;
        }
        .option {
            margin: 25px 15px;
            width: calc(100% - 30px);
        }
        #tabber {
            margin: 0;
            padding: 0;
            width: unset;
            font-size: 18px;

            .css-code {
                padding: 10px 5px;
                max-width: 91vw;
                width: 270px;

                code {
                    line-height: 22px;
                }
            }
        }
    }
}
